name: Build Latest

on: [push]

env:
  DOTNET_SDK_VERSION: '6.0.x'

jobs:

  build-win-x64-arm64:
    
    runs-on: windows-latest
    
    steps:
      
      - uses: actions/checkout@v2

      - name: Set up dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_SDK_VERSION }}
          include-prerelease: true

      - run: dotnet publish -r win-x64 -c Release -o artifact-x64
      - run: dotnet publish -r win-arm64 -c Release -o artifact-arm64

      - name: Upload Artifact[win-x64]
        uses: actions/upload-artifact@v1.0.0
        with:
          name: BBDown_win-x64
          path: artifact-x64\BBDown.exe

      - name: Upload Artifact[win-arm64]
        uses: actions/upload-artifact@v1.0.0
        with:
          name: BBDown_win-arm64
          path: artifact-arm64\BBDown.exe
  

  build-linux-x64:
    
    runs-on: ubuntu-18.04
    
    steps:
      
      - uses: actions/checkout@v2
      - name: Set up dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_SDK_VERSION }}
          include-prerelease: true
      - run: sudo apt-get update
      - run: sudo apt-get install libcurl4-openssl-dev zlib1g-dev libkrb5-dev
      - run: dotnet publish -r linux-x64 -c Release -o artifact
      - run: strip artifact/BBDown
      
      - name: Upload Artifact[linux-x64]
        uses: actions/upload-artifact@v1.0.0
        with:
          name: BBDown_linux-x64
          path: artifact/BBDown

  build-linux-arm64:
    
    runs-on: ubuntu-18.04
    container: mcr.microsoft.com/dotnet-buildtools/prereqs:ubuntu-16.04-cross-arm64-20201022204150-b2c2436
    
    steps:
      
      - uses: actions/checkout@v2
      - name: Set up dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_SDK_VERSION }}
          include-prerelease: true
      - run: dotnet publish -r linux-arm64 -c Release -p:CppCompilerAndLinker=clang-9 -p:SysRoot=/crossrootfs/arm64 -o artifact
      - run: aarch64-linux-gnu-strip artifact/BBDown
      
      - name: Upload Artifact[linux-arm64]
        uses: actions/upload-artifact@v1.0.0
        with:
          name: BBDown_linux-arm64
          path: artifact/BBDown
  
  build-linux-musl-x64:

    runs-on: ubuntu-latest
    container: mcr.microsoft.com/dotnet/sdk:6.0-alpine

    steps:
      - uses: actions/checkout@v2
      - run: apk update
      - run: apk --no-cache add clang clang-dev musl-dev git gcc krb5-dev zlib-dev libexecinfo lldb binutils build-base zlib-static
      - run: dotnet publish -r linux-musl-x64 -c Release -o artifact
      - run: strip artifact/BBDown
      - name: Upload Artifact[linux-musl-x64]
        uses: actions/upload-artifact@v1.0.0
        with:
          name: BBDown_linux-musl-x64
          path: artifact/BBDown

  build-mac-x64:
    
    runs-on: macOS-latest
    
    steps:
      
      - uses: actions/checkout@v2
      - name: Set up dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_SDK_VERSION }}
          include-prerelease: true
      - run: dotnet publish -r osx-x64 -c Release -o artifact
      - run: strip artifact/BBDown
      
      - name: Upload Artifact[osx-x64]
        uses: actions/upload-artifact@v1.0.0
        with:
          name: BBDown_osx-x64
          path: artifact/BBDown
